<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Formulaire avec éditeur WYSIWYG</title>
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <div id="gauche">

            <label for="fname">Nom du service (fname) :</label>
            <select id="fname" name="fname">
                <option value="" text=""></option>
                <option th:each="option : ${fnameOptions}"
                        th:value="${option}"
                        th:text="${option}">
                </option>
            </select>

            <hr class="separateur">

            <form id="createJsonForm">

                <label for="video_link">Premiers pas avec le service :</label>
                <input type="text" id="video_link" name="video_link">

                <br><br>

                <label for="category">Catégorie principale :</label>
                <input type="text" id="category" name="category" readonly>

                <br>

                <div id="resource_title">
                    <p>Ressources : </p>
                    <button type="button" onclick="ajouterTuto()">Ajouter une ressource</button>
                </div>
                <div id="liens-container">
                </div>
                <br>

                <label for="resource_link">Lien vers toutes les ressources :</label>
                <input type="text" id="resource_link" name="resource_link">

                <br>

                <p>Populations cible :</p>
                <div th:each="pop : ${populations}">
                    <input type="checkbox" th:id="${'population_' + pop}" th:name="population" th:value="${pop}">
                    <label th:for="${'population_' + pop}" th:text="${pop}"></label><br>
                </div>

                <br>

                <p>Contextes cible :</p>
                <div th:each="ctx : ${contexts}">
                    <input type="checkbox" th:id="${'contexte_' + ctx}" th:name="contexte" th:value="${ctx}">
                    <label th:for="${'contexte_' + ctx}" th:text="${ctx}"></label><br>
                </div>

                <br>

                <label for="responsable">Responsable :</label>
                <select id="responsable" name="responsable">
                    <option value="" text=""></option>
                    <option th:each="option : ${responsables}"
                            th:value="${option}"
                            th:text="${option}">
                    </option>
                </select>

                <br><br>

                <label for="description">Description :</label>
                <br><br>
                <div id="editor"></div>
                <input type="hidden" name="description" id="description">

            </form>

            <hr class="separateur">

            <div class="result">
                <p>Résultat du fichier JSON (lecture seule) :</p>
                <textarea id="resultat" readonly></textarea>
            </div>

            <br>

            <button onclick="saveJsonFile(true)">Sauvegarder le brouillon</button>
            <button onclick="saveJsonFile(false)">Pousser en production</button>

        </div>

        <div id="droite">

            <div class="wrapper">
                <r-service-info-layout
                        icon-url=""
                        name=""
                        origin="external"
                        category=""
                        description=''
                        video=""
                        tutorials='[]'
                        tutorials-link=""
                        launch-link='{"href": "#"}'
                >
                </r-service-info-layout>
            </div>
        </div>

        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script th:src="@{/script.js}"></script>
        <script th:src="@{/r-service-info-layout.js}"></script>
    </body>
</html>